.addVehicle-header {
  display: grid;
  grid-template-columns: 5% 50%;
  grid-template-rows: auto;
  grid-gap: 2%;
}
.addVehicle-header > .img-arrow:hover {
  cursor: pointer;
}
.addVehicle-text > h1 {
  font-size: 1.8rem;
  margin-top: -2px;
  font-family: "Nunito", sans-serif;
  color: black;
}
.add-vehicle-container {
  width: 100%;
  height: 105vh;
  /* background-color: chocolate; */
  margin: 0;
}
.add-vehicle-container > form {
  margin: 0;
  width: 100%;
}
.add-vehicle-wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  width: 100%;
  height: 80vh;
  /* background-color: orchid; */
}
.add-item-vehicle-1 {
  width: 100%;
  height: 100%;
  /* background-color: palegoldenrod; */
}
.add-item-vehicle-2 {
  /* background-color: cadetblue; */
  height: 100%;
  margin-left: 7%;
  /* width: 100%; */
}
.add-container {
  display: grid;
  height: 80vh;
  grid-template-columns: auto;
  grid-template-rows: 65% 35%;
}
.add-main-image-vehicle {
  width: 100%;
  height: 100%;
  /* background-color: crimson; */
}
.add-main-image-vehicle > img {
  width: 100%;
  height: 100%;
  padding: 0 10px 10px 0;
  object-fit: cover;
}
.add-image-vehicle {
  height: 100%;
}
.inside-wrapper-add-vehicle {
  display: grid;
  height: 100%;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
}
.vehicle-slider-1,
.vehicle-slider-2 {
  /* background-color: #e7e7ec; */
  width: 100%;
  height: 30vh;
}
.vehicle-slider-1 > img,
.vehicle-slider-2 > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 0 10px 10px 0;
}
.add-vehicle {
  margin-top: 1%;
}
.add-vehicle > .add-item-vehicle-2 > [type="text"] {
  border: none;
  border-radius: 0;
  margin-top: -1%;
  border-bottom: 2px solid #6e7070;
}
.price-vehicle > .label-price,
.status-vehicle > p,
.stock-vehicle > p {
  font-size: 1.1rem;
  font-weight: bold;
  font-family: "Playfair Display", serif;
  /* margin-top: 5%; */
}
.add-vehicle > .add-item-vehicle-2 > .price-vehicle > input[type="text"] {
  border: none;
  background-color: #ccccce;
}
.add-vehicle > .status-vehicle > p {
  margin-top: 0;
}
.number-stock,
.sub-stock,
.add-stock {
  font-size: 1.3rem;
  font-weight: bold;
  font-family: "Nunito", sans-serif;
}
/* .stock-vehicle {
  margin-top: 10%;
} */
.stock-vehicle > p {
  margin-right: 45%;
}
.sub-stock {
  border: 1px solid #e0e2e6;
  background-color: #e0e2e6;
  width: 35px;
  height: 30px;
}
.add-stock {
  border: 1px solid #ffc61f;
  background-color: #ffc61f;
  width: 35px;
  height: 30px;
}
.form-select-status {
  width: max(100%, 200px);
  border: none;
  background-color: #e3e3e7;
  padding: 12px 0;
  border-radius: 6px;
  color: #818386;
}
.form-select-location {
  width: max(100%, 200px);
  border: none;
  padding: 12px 0;
  border-bottom: 1px solid #8a8d8d;
  color: #a0a2a5;
  margin-bottom: 2%;
}
option {
  background-color: white;
}
.form-select-location option {
  color: black;
}
.form-select-status option:nth-child(2) {
  color: green;
}
.form-select-status option:nth-child(3) {
  color: red;
}
.btn-add-vehicle-wrapper {
  width: 100%;
  margin-top: 7%;
  /* background-color: darkgreen; */
}
.btn-add-item > select.add-item,
.btn-add-item > button {
  width: 100%;
  padding: 18px 0;
  border: none;
  border-radius: 6px;
  font-family: "Nunito", sans-serif;
  font-size: 1.2rem;
}
.btn-add-item > select.add-item {
  background-color: #393939;
  color: #ffc61f;
  text-align: center;
}
.btn-add-item > button {
  margin-left: 14%;
  background-color: #ffc61f;
  color: #393939;
  font-weight: bold;
}
.btn-add-item > select.add-item option {
  color: black;
  font-size: 1.1rem;
}
.btn-add-item > select.add-item option:nth-child(3),
.btn-add-item > select.add-item option:nth-child(4),
.btn-add-item > select.add-item option:nth-child(5),
.btn-add-item > select.add-item option:nth-child(6) {
  font-weight: lighter;
}

/* Responsive */
@media (max-width: 1024px) {
  .add-vehicle-container {
    height: 100vh;
  }
  .add-main-image-vehicle > .main-image {
    height: 95%;
  }
  .vehicle-slider {
    margin: 0 10px 20px 0;
    height: 85%;
  }
  .cameraIcon {
    width: 20%;
    height: 30%;
    margin: auto;
    transform: translate(190px, 85%);
  }
  .icon-camera {
    transform: translate(0, 65%);
  }
  .add-main-image-vehicle > .main-image > p {
    margin-top: 20%;
    margin-left: 35%;
  }
  .icon-camera {
    width: 50px;
    height: 50px;
  }
  .add-vehicle {
    margin-top: 7%;
  }
  .vehicle-slider > img {
    margin-top: 10%;
  }
  .vehicle-slider > p {
    margin-left: 25%;
  }
  .vehicle-slider > h1 {
    margin-left: 43%;
  }
  .vehicle-slider > .add-more {
    margin-left: 35%;
  }
  .stock-vehicle > p {
    margin-right: 38%;
  }
  .btn-add-vehicle-wrapper {
    margin-top: 0;
  }
}

@media (max-width: 768px) {
  .vehicle-slider {
    height: 80%;
  }
  .cameraIcon {
    width: 55px;
    height: 65px;
    transform: translate(150px, 100%);
  }
  .add-main-image-vehicle > .main-image > p {
    margin-top: 20%;
    margin-left: 33%;
  }
  .icon-camera {
    width: 40px;
    height: 40px;
  }
  .vehicle-slider > p {
    margin-left: 18%;
    font-size: 0.8rem;
  }
  .vehicle-slider > h1 {
    font-size: 3.5rem;
    margin-left: 42%;
  }
  .vehicle-slider > .add-more {
    margin-top: -10%;
    margin-left: 35%;
  }
  .add-vehicle {
    margin-top: 0;
    margin-left: 5%;
  }
  .stock-vehicle > p {
    margin-top: 0;
    margin-right: 20%;
  }
  .btn-add-vehicle-wrapper {
    margin-top: 3%;
  }
}

@media (max-width: 576px) {
  .add-vehicle-container {
    height: 100%;
  }
  .addVehicle-header {
    grid-gap: 5%;
  }
  .addVehicle-text > h1 {
    font-size: 1.7rem;
    margin-top: 0;
  }
  .add-item-vehicle-2 {
    margin-left: 0;
    margin-top: 2%;
  }
  .add-vehicle-wrapper {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50% 50%;
    width: 100%;
    height: 100%;
  }
  .add-vehicle {
    margin-left: 0;
  }
  .vehicle-slider {
    padding-bottom: 35px;
  }
  .cameraIcon {
    width: 70px;
    height: 75px;
    transform: translate(220px, 100%);
  }
  .add-main-image-vehicle > .main-image > p {
    margin-top: 15%;
    margin-left: 35%;
  }
  .icon-camera {
    width: 40px;
    height: 40px;
    transform: translate(10%, 40%);
  }
  .add-image-vehicle > .main-image > p {
    margin-top: 5%;
    margin-left: 0;
    text-align: center;
  }
  .vehicle-slider > p {
    margin-top: 7%;
    margin-left: 30%;
    font-size: 0.8rem;
  }
  .btn-add-vehicle-wrapper {
    margin-top: 10%;
  }
  .btn-add-item > button {
    margin-left: 0;
    margin-top: -5%;
  }
  .stock-vehicle > p {
    margin-right: 30%;
  }
}

@media (max-width: 425px) {
  .addVehicle-header {
    grid-gap: 10%;
  }
  .addVehicle-header > .img-arrow > a > img {
    width: 30px;
    height: 30px;
  }
  .addVehicle-text > h1 {
    font-size: 1.5rem;
  }
  .add-main-image-vehicle > .main-image {
    width: 100%;
  }
  .vehicle-slider {
    margin: 0 5px 5px 0;
  }
  .add-main-image-vehicle > .main-image > p {
    margin-top: 20%;
  }
  .cameraIcon {
    transform: translate(170px, 100%);
  }
  .vehicle-slider > p {
    margin-top: 10%;
    margin-left: 25%;
  }
  .stock-vehicle > p {
    margin-right: 40%;
  }
}
