.modal-title-editPass {
  /* margin-top: -2%; */
  /* color: black; */
  text-align: center;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  /* margin-bottom: 3%; */
}

/* .edit-pass-wrapper {
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/images/brown-jeep.jpg");
  box-shadow: inset 0 0 0 2000px rgba(100, 93, 97, 0.4);
  background-size: cover;
  background-position: center;
}
.editPass-text {
  margin-top: -5px;
}
.editPass-text > h1 {
  font-size: 2.1rem;
}
.edit-pass-wrapper > h1 {
  margin-top: -2%;
  color: black;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  margin-bottom: 3%;
}
.form-container {
  margin: auto;
  border-radius: 10px;
  width: 40%;
  height: 60%;
  background-color: white;
  opacity: 0.9;
  padding: 25px 25px;
}
.new,
.current {
  height: 10vh;
  margin: auto;
  width: 90%;
  margin-bottom: 3%;
  box-shadow: rgba(47, 47, 85, 0.4) 5px 5px 9px 1px;
  border-radius: 6px;
}
.current-pass,
.new-pass {
  font-size: 1.1rem;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}
.changePass > button {
  width: 100%;
  padding: 12px 0;
  color: #393939;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
} */

/* Responsive */
/* @media (max-width: 1024px) {
  .form-container {
    width: 50%;
  }
} */

/* @media (max-width: 768px) {
  .editPass-text > h1 {
    font-size: 1.7rem;
  }
  .edit-pass-wrapper > h1 {
    margin-top: 0;
    color: black;
    font-size: 2rem;
  }
  .form-container {
    width: 55%;
  }
  .current-pass,
  .new-pass {
    font-size: 1rem;
  }
} */

/* @media (max-width: 768px) {
  .editPass-text > h1 {
    font-size: 1.5rem;
    margin-left: -30%;
  }
  .editPass-header > .img-arrow > a > img {
    width: 25px;
    height: 25px;
  }
  .edit-pass-wrapper > h1 {
    margin-top: 0;
    color: black;
    font-size: 1.5rem;
  }
  .form-container {
    width: 85%;
  }
  .current-pass,
  .new-pass {
    font-size: 0.9rem;
  }
} */
