.cardVehicle > .card > a {
  text-decoration: none;
  color: black;
}
/* .cardVehicle > .card {
  width: auto;
  height: 500px;
} */
.card-img-top {
  width: 100%;
  height: 25rem;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  position: relative;
}
.card-body > .card-title {
  font-size: 1.3rem;
}
.card-body > .card-title,
.card-body > .card-text {
  font-family: "Nunito", sans-serif;
  text-align: start;
}
.card-body > .card-text {
  font-size: 1.1rem;
}

@media (max-width: 992px) {
  .card-img-top {
    height: 20rem;
  }
}
@media (max-width: 768px) {
  .card-img-top {
    height: 16rem;
  }
}
@media (max-width: 576px) {
  .card-img-top {
    width: 15rem;
  }
}
@media (max-width: 425px) {
  .cardVehicle > .card {
    width: 100%;
  }
  .card-img-top {
    width: 100%;
  }
}
