.history-wrapper {
  width: 100%;
}

.form > input {
  margin-top: 5%;
  /* background-color: grey; */
  border: 1px solid #b1b1a9;
  background-color: #f3f3f3;
  padding: 16px 20px;
}
.form .fa-search {
  position: absolute;
  right: 38%;
  top: 18%;
  color: rgba(92, 88, 88, 0.8);
  font-size: 2vw;
}
.checkbox {
  position: absolute;
  left: 65%;
  top: 15%;
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
}
.checkbox > input {
  position: absolute;
  left: 12%;
  top: 100%;
}
.filter {
  color: #696363;
}
.dropdown > .filter {
  background-color: rgba(250, 250, 250, 0.9);
  border: 1px solid #b1b1a9;
  width: 10%;
}
.dropdown-item {
  text-align: center;
  font-weight: bold;
  padding-top: 5%;
  padding-bottom: 5%;
  font-family: "Poppins", sans-serif;
  font-size: 01rem;
}
.card-container {
  background-color: white;
  border: 1px solid rgb(230, 227, 227);
  position: absolute;
  top: 17%;
  right: 5%;
  height: 110vh;
  border-radius: 5px solid;
  display: flex;
  flex-direction: column;
}
.card-container > p {
  padding-top: 14%;
  font-size: 1.5rem;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  text-align: center;
}
.card-container > .card {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 45%;
  position: relative;
  margin-bottom: 10%;
}
.card-container > .card > img {
  padding: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-container > .card > figcaption {
  background-color: white;
  position: absolute;
  width: 50%;
  height: 17%;
  bottom: 0;
  border-radius: 0 7px 6px 0;
}
.history-container {
  width: 75%;
  height: 100vh;
  margin-top: 5%;
}
.history-container > p {
  font-size: 1.3rem;
  color: #130d0d;
  font-family: "Nunito", sans-serif;
}
.card-history {
  width: 90%;
  height: 40%;
}
.card-history > .img > img {
  width: 100%;
  height: 85%;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
}
.info-history-vehicle,
.down {
  position: absolute;
  left: 35%;
  top: 57%;
  font-family: "Poppins", sans-serif;
}
.down {
  top: 95%;
}
.info-history-vehicle > p.rental-date {
  margin-top: -7%;
  margin-bottom: 13%;
}
.info-history-vehicle > p.status-history {
  margin-top: -7%;
  color: green;
}
.select-box {
  position: absolute;
  right: 33%;
  top: 65%;
}
.two {
  position: absolute;
  right: 33%;
  top: 100%;
}
.btn-modal {
  width: 100%;
  margin-top: 2%;
  color: #393939;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  padding: 10px;
}
.modal-container {
  margin-left: 3%;
}

.modal-btn {
  display: flex;
  margin-top: 10%;
  width: 100%;
  position: relative;
}

.modal h1 {
  text-align: center;
  font-size: 2.34375vw;
  font-weight: 700;
  font-family: "Nunito";
}
/* .modal .btn-warning {
  width: 45%;
  background-color: rgba(255, 205, 97, 1);
  color: rgba(57, 57, 57, 1);
  font-size: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.modal .btn-secondary {
  width: 45%;
  position: absolute;
  right: 0%;
  background-color: rgba(57, 57, 57, 1);
  color: rgba(255, 205, 97, 1);
  font-size: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
} */

@media (max-width: 1024px) {
  .form .fa-search {
    top: 16%;
  }
  .checkbox {
    top: 12%;
    font-size: 1.1rem;
  }
  .checkbox > input {
    left: 12%;
  }
  .card-container {
    width: 25%;
  }
  .info-history-vehicle {
    top: 50%;
  }
  .down {
    top: 90%;
  }
  .select-box {
    top: 55%;
  }
  .two {
    top: 95%;
  }
  .btn-modal {
    width: 90%;
    margin-top: 0;
  }
}

@media (max-width: 768px) {
  aside.card-container {
    display: none;
  }
  .checkbox {
    left: 85%;
    top: 17%;
  }
  .checkbox > .form-check-label {
    margin-left: -7%;
  }
  .form > input {
    padding: 13px 20px;
  }
  .form .fa-search {
    right: 23%;
    top: 21%;
    font-size: 2.7vw;
  }
  .dropdown > .filter {
    margin-top: 2%;
    width: 15%;
  }
  .history-container {
    width: 100%;
  }
  .history-container > p {
    font-size: 1.2rem;
  }
  .card-history {
    width: 100%;
    height: 40%;
  }
  .card-history > .img > img {
    width: 100%;
  }
  .info-history-vehicle {
    top: 60%;
    left: 50%;
  }
  .down {
    top: 100%;
    left: 50%;
  }
  .select-box {
    top: 70%;
    right: 13%;
  }
  .two {
    top: 115%;
  }
  .btn-modal {
    width: 90%;
    margin-top: 0;
    margin-bottom: 0%;
  }
  /* .modal-dialog {
    margin: 0;
  } */
}

@media (max-width: 425px) {
  .checkbox {
    top: 12%;
    font-size: 1rem;
  }
  .checkbox > .form-check-label {
    margin-left: -30%;
  }
  .form .fa-search {
    right: 23%;
    top: 16%;
    font-size: 5vw;
  }
  .dropdown > .filter {
    margin-top: 2%;
    width: 25%;
  }
  /* .modal-dialog {
    margin: 0;
  } */
}
