.history-wrapper {
  width: 90%;
  margin: 2% auto 2% auto;
  /* background-color: sienna; */
}
.search-bar-history > .form > input[type="text"] {
  margin-top: 0;
  /* background-color: grey; */
  border: 1px solid #b1b1a9;
  background-color: #f3f3f3;
  padding: 16px 20px;
}

.form > .fa-search {
  position: absolute;
  right: 38%;
  top: 17%;
  color: rgba(92, 88, 88, 0.8);
  font-size: 1.8vw;
}
.checkbox {
  position: absolute;
  left: 65%;
  top: 15%;
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
}
.checkbox > input {
  position: absolute;
  left: 12%;
  top: 100%;
}
.filter {
  color: #696363;
}
.dropdown > .filter {
  background-color: rgba(250, 250, 250, 0.9);
  border: 1px solid #b1b1a9;
  width: 10%;
}
.dropdown-item {
  text-align: center;
  font-weight: bold;
  padding-top: 5%;
  padding-bottom: 5%;
  font-family: "Poppins", sans-serif;
  font-size: 01rem;
}
.card-container {
  background-color: white;
  border: 1px solid rgb(230, 227, 227);
  position: absolute;
  top: 17%;
  right: 5%;
  height: 110vh;
  border-radius: 5px solid;
  display: flex;
  flex-direction: column;
}
.card-container > p {
  padding-top: 14%;
  font-size: 1.5rem;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  text-align: center;
}
.card-container > .card {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 45%;
  position: relative;
  margin-bottom: 10%;
}
.card-container > .card > img {
  padding: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-container > .card > figcaption {
  background-color: white;
  position: absolute;
  width: 50%;
  height: 17%;
  bottom: 0;
  border-radius: 0 7px 6px 0;
}
.history-container {
  width: 80%;
  height: 100vh;
  margin-top: 5%;
  overflow-y: scroll;
}
.history-container::-webkit-scrollbar {
  display: none;
}
.history-container > p {
  font-size: 1.3rem;
  color: #130d0d;
  font-family: "Nunito", sans-serif;
}
.btn-modal {
  width: 95%;
  margin-top: 2%;
  color: #393939;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  padding: 10px;
}
.modal-container {
  margin-left: 3%;
}
.modal-body > h1 {
  font-size: 1.7rem;
  text-align: center;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}
.modal-btn {
  display: flex;
  margin-top: 10%;
  width: 100%;
  position: relative;
}
.modal-btn > .btn-warning {
  width: 35%;
  font-size: 1.1rem;
  font-weight: bold;
  background-color: #ffc61f;
  color: #393939;
  box-shadow: rgba(0, 0, 0, 0.25);
  margin: auto;
}
.modal-btn > .btn-secondary {
  width: 35%;
  font-size: 1.1rem;
  font-weight: bold;
  background-color: #393939;
  color: #ffc61f;
  box-shadow: rgba(0, 0, 0, 0.25);
  margin: auto;
}

/* responsive */
@media (max-width: 1440px) {
  .card-container {
    top: 13%;
    right: 2%;
  }
  .form > .fa-search {
    top: 10.5%;
    right: 37%;
  }
}
@media (min-width: 1200px) and (max-width: 1430px) {
  .form > .fa-search {
    top: 17%;
    right: 38%;
  }
}
@media (max-width: 1024px) {
  .form > .fa-search {
    top: 14%;
  }
  .checkbox {
    top: 12%;
    font-size: 1.1rem;
  }
  .checkbox > input {
    left: 12%;
  }
  .card-container {
    width: 25%;
  }
  .btn-modal {
    width: 90%;
    margin-top: 0;
  }
  .history-container {
  width: 80%;
  height: 100vh;
  margin-top: 5%;
  overflow-y: scroll;
}
}

@media (max-width: 768px) {
  aside.card-container {
    display: none;
  }
  .checkbox {
    left: 85%;
    top: 17%;
  }
  .checkbox > .form-check-label {
    margin-left: -7%;
  }
  .form > input {
    padding: 13px 20px;
  }
  .form > .fa-search {
    right: 23%;
    top: 19%;
    font-size: 2.7vw;
  }
  .dropdown > .filter {
    margin-top: 2%;
    width: 15%;
  }
  .history-container {
    width: 100%;
  }
  .history-container > p {
    font-size: 1.2rem;
  }
  .btn-modal {
    width: 90%;
    margin-top: 0;
    margin-bottom: 0%;
  }
}

@media (max-width: 425px) {
  .checkbox {
    top: 12%;
    font-size: 1rem;
  }
  .checkbox > .form-check-label {
    margin-left: -30%;
  }
  .form .fa-search {
    right: 25%;
    top: 14%;
    font-size: 5vw;
  }
  .dropdown > .filter {
    margin-top: 2%;
    width: 25%;
  }
  /* .modal-dialog {
    margin: 0;
  } */
}
