.reservation-title {
  display: grid;
  grid-template-columns: 5% 5%;
  grid-template-rows: auto;
  grid-gap: 2%;
}
.img-arrow > a > img {
  width: 30px;
  height: 30px;
}
.reservation-text > h1 {
  font-size: 1.8rem;
  margin-top: -2px;
  font-family: "Nunito", sans-serif;
  color: black;
}
.wrapper-reservation-1,
.wrapper-reservation-2 {
  height: 100vh;
}
.wrapper-reservation-1 {
  /* background-color: crimson; */
}
.img-vehicle-reservation {
  /* background-color: darkkhaki; */
  height: 70%;
  width: 100%;
}
.img-vehicle-reservation > img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
}
.div-content-1 > h1 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 2.7rem;
}
.div-content-1 > h2 {
  font-family: "Playfair Display", serif;
  font-size: 1.9rem;
}
.div-content-1 > p {
  font-size: 1rem;
  font-family: "Nunito", sans-serif;
  color: #9b0a0a;
  font-weight: bold;
}
.div-content-2 {
  display: grid;
  grid-template-columns: 33% 27% 33%;
  grid-template-rows: auto;
  margin-top: 20%;
  margin-bottom: 10%;
}
.div-content-2 > .qty {
  text-align: center;
}
.div-content-2 > .minus,
.div-content-2 > .plus {
  width: 50%;
}
.div-content-2 > .minus {
  margin-left: 0;
}
.div-content-3 > p {
  font-family: "Nunito", sans-serif;
}
.div-content-3 > .select-date {
  border: 1px solid rgb(187, 185, 185);
  height: 40px;
}
.div-content-3 > .select-date > input[type="text"] {
  margin-top: -10px;
}
.pay {
  margin-top: -10%;
}
.btn-reservation {
  width: 100%;
  background-color: #ffcd61;
  border: none;
  padding: 15px;
  border-radius: 6px;
  font-weight: bold;
  font-family: "Nunito", sans-serif;
  color: #242422;
  font-size: 1.1rem;
}

/* Responsive */
@media (max-width: 1024px) {
  .div-content-1 > h1 {
    font-size: 2.3rem;
  }
  .div-content-2 {
    margin-top: 10%;
    grid-template-columns: 33% 25% 33%;
  }
  .div-content-2 > .minus,
  .div-content-2 > .plus {
    width: 60%;
  }
  .div-content-2 > .plus {
    margin-left: 70%;
  }
  .pay {
    margin-top: -30%;
  }
  .wrapper-reservation-1 > img {
    height: 52%;
  }
}

@media (max-width: 768px) {
  .wrapper-reservation-1 > img {
    width: 97%;
    height: 70%;
  }
  .div-content-1 > h1 {
    font-size: 2.1rem;
  }
  .div-content-1 > h2 {
    font-size: 1.7rem;
  }
  .div-content-2 {
    display: grid;
    grid-template-columns: 33% 27% 33%;
    grid-template-rows: auto;
    margin-top: 15%;
  }
  .div-content-2 > .qty {
    font-size: 1.5rem;
  }
  .div-content-2 > .minus,
  .div-content-2 > .plus {
    height: 100%;
  }
  .pay {
    margin-top: -15%;
  }
}

@media (max-width: 425px) {
  .reservation-title {
    grid-gap: 10%;
  }
  .reservation-text > h1 {
    font-size: 1.5rem;
    margin-top: 0;
  }
  .wrapper-reservation-1 > img {
    width: 100%;
    border-radius: 10px;
    height: 60%;
  }
  .div-content-1 {
    margin-top: -40%;
  }
  .div-content-1 > h1 {
    font-size: 2rem;
  }
  .div-content-1 > h2 {
    font-size: 1.7rem;
  }
  .div-content-2 {
    margin-top: 10%;
    grid-template-columns: 33% 27% 37%;
  }
  .div-content-2 > .minus,
  .div-content-2 > .plus {
    width: 40%;
  }
  .pay {
    margin-top: -60%;
  }
}
